/*#region ----- Select  */
.rc-select {
  @apply relative;

  input[type='search']::-webkit-search-cancel-button {
    @apply appearance-none;
  }

  &.rc-select-disabled {
    @apply pointer-events-none opacity-60;
  }

  .rc-select-selector {
    @apply relative flex w-full min-h-[2.3rem] border rounded shadow-md shadow-slate-100;
  }

  .rc-select-selection-placeholder {
    @apply pointer-events-none text-gray-400 text-sm;
  }

  .rc-select-selection-search-input {
    @apply w-full border-none outline-none bg-transparent shadow-none text-inherit;
  }

  /* Single */
  &.rc-select-single {
    .rc-select-selector {
      @apply flex relative;
    }

    .rc-select-selection-search-input {
      @apply text-sm absolute top-0 bottom-0 left-0 pl-3 right-3 pr-11 appearance-none;
    }

    .rc-select-selection-item,
    .rc-select-selection-placeholder {
      @apply absolute left-3 right-3 top-1/2 -translate-y-1/2 overflow-hidden whitespace-nowrap text-ellipsis leading-relaxed text-sm;
    }
  }

  /* Multiple */
  &.rc-select-multiple {
    .rc-select-selector {
      @apply flex relative;
    }

    .rc-select-selection-item {
      @apply flex gap-2 items-center bg-primary text-primary-foreground text-sm rounded-full px-2.5 py-0.5;
    }

    .rc-select-selection-item-disabled {
      @apply cursor-not-allowed opacity-50;
    }

    .rc-select-selection-item-remove {
      @apply cursor-pointer relative top-[-1px];
    }

    .rc-select-selection-placeholder {
      @apply absolute left-3 right-3 top-1/2 -translate-y-1/2 overflow-hidden whitespace-nowrap text-ellipsis leading-relaxed text-sm;
    }

    .rc-select-selection-overflow {
      @apply flex flex-wrap gap-1 pt-[4px] pb-1 pl-3 pr-9;
    }

    .rc-select-selection-overflow-item {
      @apply flex-none;
    }

    .rc-select-selection-search {
      @apply relative top-[-1px];
    }

    .rc-select-selection-search-mirror {
      @apply bg-red-400 absolute top-0 left-0 whitespace-nowrap invisible;
    }

    .rc-select-selection-search-input {
      @apply min-w-[200px] box-border text-sm;
    }
  }

  /* Action buttons */
  .rc-select-arrow {
    @apply absolute right-3 top-2.5 w-4 text-center pointer-events-none;
  }

  .rc-select-clear {
    @apply absolute right-9 top-1.5 w-4 text-center cursor-pointer;
  }
}
/*#endregion ----- Select  */

/*#region ----- Dropdown  */
.rc-select-dropdown {
  @apply absolute min-h-[20px] p-1 z-50 shadow-md rounded-md;
  background: var(--popover);
  color: var(--popover-foreground);
}

.rc-select-dropdown-hidden {
  @apply hidden;
}

.rc-select-item-option {
  @apply text-sm py-1.5 px-2 relative rounded-sm mb-0.5 last-of-type:mb-0 flex justify-between;

  &:hover {
    @apply bg-gray-50;
  }

  /* Icon */
  .rc-select-item-option-state {
    @apply flex-none;
  }

  &.rc-select-item-option-selected,
  &.rc-select-item-option-active {
    @apply bg-gray-100;
  }

  &.rc-select-item-option-disabled {
    @apply cursor-not-allowed;
    color: var(--muted-foreground);
  }
}
/*#endregion ----- Dropdown  */
